*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    
}

body {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: 18px;
    overflow-x: hidden;
    max-width: 1440px;
}

/*******************Header section*******************/
.header-wrapper {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 800px;
    margin: 0px;
}

.background-image {
    background-image: url('images/desktop/image-header.jpg');
    background-size: cover;
    background-position: center center;
    height: 800px;
    width: 100%;
}

.logo {
    height: 33px;
    width: 170px;
    position: relative;
    top: 80px;
    left: 50px;
}

.top-menu li:first-child {
    display: none;
}

#open {
    height: 20px;
    float: right;
    display: none;
}
#open:hover {
    cursor: pointer;
}

.close-icon {
    position: relative;
    display: block;
    flex-direction: column;
    float: right;
    top: 0px;
    height: 50px;
    background-color: #FFFFFF;

}


.top-menu {
    position: relative;
    right: 0;
    float: right;
    width: 40%;
    display: flex;
    flex-direction: row; /*media query*/
    justify-content: center;
    list-style-type: none;
}

li.top-list {
    width: 30%;
    height: 56px;   
    padding-top: 25px;
    text-align: center;
    border-radius: 28px;
    color: #FFFFFF;
    font-family: Barlow, sans-serif;
    font-weight: 600;
    font-size: 1.125em;    
}

li.top-list:hover {
    background-color: #FFFFFF;
    cursor: pointer;
    text-transform: uppercase;
    color: #24303E;
    font-family: Fraunces, serif;
    font-weight: 700px;
    font-size: 1em;
    letter-spacing: -0.11px;
}

h1 {
    position: relative;
    top: 100px;
    color: #FFFFFF;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: Fraunces;
    font-weight: 900;
    font-size: 3.5em;
    letter-spacing: 8.75px;
}






/*******************Advertising section*******************/

.flex-container-transform {
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
    margin-top: 0px;
}
.flex-container-brand {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.flex-container-service {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-self: flex-end;
}
.message-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 445px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
}
.transform-message, .brand-message {

    width: 720px;
    height: 600px;
}
h2 {
    font-family: Fraunces, serif;
    font-weight: 900px;
    font-size: 2.5em;
    margin-bottom: 32px;
    width: 100%;
}
.message-wrapper p {
    font-family: Barlow, sans-serif;
    font-size: 1.125em;
    line-height: 30px;
    color: #808397;
    height: 90px;
}
.message-wrapper button {
    margin-top: 40px;
    font-family: Fraunces, serif;
    font-weight: 900;
    font-size: 1em;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.service-wrapper {
display: flex;
flex-direction: column;
justify-content: center;
text-align: center;
width: 415px;
margin-left: auto;
margin-right: auto;
margin-top: 304px;
}
h3 {
    font-family: Fraunces, serif;
    font-weight: 900;
    font-size: 1.75em;
    margin-top: 70px;
    margin-bottom: 27px;
    color: #24554A;
}

.service-wrapper p {
    font-family: Barlow, sans-serif;
    font-weight: 600;
    color: #3E7467;
    font-size: 1em;
    line-height: 27px;
}

.desktop-photo {
    height: 600px;
    width: 720px;
}

.mobile-photo {
    display: none;
}
.graphic {
    background-image: url('images/desktop/image-graphic-design.jpg');
    background-size: cover;
    background-position: center center;
    width: 720px;
    height: 600px;
    margin-top: -5px;
}
.photography {
    background-image: url('images/desktop/image-photography.jpg');
    background-size: cover;
    background-position: center center;
    width: 720px;
    height: 600px;
    margin-top: -5px;
}

button {
    background-color: transparent;
    border: none;
}
.transform-button:hover {
    border-bottom: 8px #FAD400 solid;
    cursor: pointer;
    border-radius: 15px;
    height: 20px;
    }
    
.audience-button:hover {
    border-bottom: 8px #FE7766 solid;
    cursor: pointer;
    border-radius: 15px;
    height: 20px;
}



/*******************Testimonials section*******************/

.testmonials-section {
    width: 100%;
    height: 777px;
}
.flex-container-testimonials {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    margin-left: auto;
    margin-right: auto;
}

.testimonial {
    width: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 160px;
    text-align: center;
}
h4 {
    text-align: center;
    padding-top: 0px;
    margin-top: 160px;
    margin-bottom: 81px;
    font-family: Fraunces, serif;
    font-weight: 900;
    font-size: 1.25em;
    letter-spacing: 5px;
    color: #A7AAAD;
    text-transform: uppercase;
}
blockquote {
    margin-bottom: 69px;
    font-family: Barlow, sans-serif;
    font-weight: 600;
    font-size: 1.125em;
    line-height: 32px;
    color: #5B636D;
}

.name {
    font-family: Fraunces, serif;
    font-weight: 900;
    font-size: 1.125em;
    font-style: normal;
    color: #24303E;
}
.occupation {
    font-family: Barlow, serif;
    font-weight: 600;
    font-size: 0.875em;
    font-style: normal;
    color: #A7AAAD;
}

.testimonial img {
    border-radius: 50%;
    height: 72px;
    width: 72px;
    margin-bottom: 58px;
}

/*******************Gallery section*******************/

.flex-container-gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}
.gallery img {
    width: 360px;
    height: 447px;
    margin-top: -5px;
}

/*******************Footer section*******************/

.footer-section {
    text-align: center;
    height: 400px;
    padding: 0px;
    margin-top: -44px;
    background-color: #90D4C6;
}

.bottom-menu, .icon {
    list-style-type: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
}

.bottom-list, .icon-list {
    display: inline-block;
    padding: 30px;
}
.bottom-list {
    margin-bottom: 88px;
}

.icon-list {
    margin-left: 30px;
}
.icon-list:first-child {
    margin-left: 0px;
}
.bottom-company-name p {
    
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    padding-top: 72px;
    color: #267566;
    font-family: Exo, sans-serif;
    font-weight: 900;
    font-size: 2.1875em;
}

.bottom-list {
    font-family: Barlow, sans-serif;
    font-weight: 600;
    font-size: 1.125em;
    color: #458D7E;
}
.bottom-list:hover, .icon-list:hover {
    cursor: pointer;
    color: #FFFFFF;
}


/*************************************************/
/********************MEDIA QUERY********************/
/*************************************************/


@media screen and (max-device-width: 1024px) {    
    .message-wrapper {
        width: 100%;
        text-align: center;
    }
    button {
        width: 100%;
    }
    #open {
        display: block;
        height: 50px;
    }
    #open:hover {
        cursor: pointer;
    }

    #close {
        display: flex;
        height: 50px;
        width: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .close-icon:hover {
        cursor: pointer;
    }
    
    

    #menu {
        flex-direction: column;
        display: flex; /*JS: display: flex*/
        text-align: center;
        width: 0px;
        top: 7px;
        background-color: #FFFFFF;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        transition: .5s;
        margin-right: 0px;
        z-index: 1;
        
    }
    .top-menu li:first-child {
        display: block;
    }
    li.top-list {
        font-family: Barlow, sans-serif;
        font-weight: 600;
        font-size: 1.25em;
        color: #808397; 
        width: 140px;
    }
    li.top-list:hover {
        background-color: #FBD600;
    }
    h1 {
        position: absolute;
        top: 100px;
        justify-content: start;
    
    }
}



@media screen and (max-device-width: 768px) {    
    #open {
        display: block;
        height: 50px;
    }
    #open:hover {
        cursor: pointer;
    }

    #close {
        display: flex;
        height: 50px;
        width: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .close-icon:hover {
        cursor: pointer;
    }
    
    #menu {
        flex-direction: column;
        display: none; /*JS: display: flex*/
        text-align: center;
        width: 150px;
        top: 7px;
        background-color: #FFFFFF;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
    .top-menu li:first-child {
        display: block;
    }
    li.top-list {
        font-family: Barlow, sans-serif;
        font-weight: 600;
        font-size: 1.25em;
        color: #808397; 
        width: 140px;
    }
    li.top-list:hover {
        background-color: #FBD600;
    }
    h1 {
        position: absolute;
        top: 100px;
        justify-content: start;
   
    }
}

@media screen and (max-device-width: 415px) {
    .background-image {
        background-image: url('images/mobile/image-header2.jpg');
    }

    .graphic {
        background-image: url('images/mobile/image-graphic-design2.jpg');
        width: 374px;

    }
    .photography {
        background-image: url('images/mobile/image-photography2.jpg');
        width: 374px;
    }


    h1 {
        margin-top: 200px;
        font-size: 30px;
       /* width: 200px;*/
        margin-left: 40px;
    }
    h2 {
        width: 98%;
    }
    #open {
        display: block;
        height: 20px;
    }
    #close {
        display: flex;
        height: 50px;
        width: 50px;
        margin-left: auto;
        margin-right: auto;
    }
    .close-icon:hover {
        cursor: pointer;
    }
    
    .top-menu {
        flex-direction: column;
        display: none; /*JS: display: flex*/
        text-align: center;
        width: 50px;
        top: 7px;
        background-color: #FFFFFF;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
    }
   
    li.top-list {
        font-family: Barlow, sans-serif;
        font-weight: 600;
        font-size: 1em;
        color: #808397; 
        width: 100px;
    }
    li.top-list:hover {
        background-color: #FBD600;
    }
    .desktop-photo {
        display: none;
    }
    .mobile-photo {
        display: flex;
        justify-content: center;
    }
    .message-wrapper button {
        margin-top: 150px;
    }
    .bottom-list, .icon-list {
        padding: 5px;
    }
    .service-wrapper {
        width: 370px;
    }
}